<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.js"></script>
    

</head>
<body>
    <div class="chart_container">
        
    </div>
    
    <script src="/javascripts/chart/line_chart.js"></script>
    <script>
        create_Chart("테스트" ,'blackCube', [1,2,3], [0, 10, 20], 'rgb(99, 255, 132)');
        create_Chart("테스트2" ,'royalStyle', [1,2,3], [0, 10, 20], 'rgb(255, 99, 132)');
    </script>
</body>
</html>