<!DOCTYPE html>
<html>
  	<head>
    	<title></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  		</head>
  	<body>
		<header>
			<div class="menu">
				<div class="menu_category">
					목차
				</div>
				<div class="menu_category">
					<form action="/raindrop" method="GET">
						<button>몬스터 비</button>
					</form>
				</div>

			</div>
		</header>
		<main>

		</main>
		<footer>

		</footer>
  	</body>
</html>
