<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <div>
        <div class="video_title">
            <div>플레이 리스트 목록</div>
        </div>

        <div>
            <div>파일 이름</div>
            <div>추천</div>
            <div>비추천</div>
        </div>
        <div>
            <div>이게 무슨소리여</div>
        </div>
    </div>
</body>
</html>